 .headerPrimary{
    display: flex;
    padding: 0px;
    margin: 0px;
}  

.body-container {
    width: calc(100% - 200px);
    padding: 10px 40px;
}

.linkContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;

    a {
        margin-bottom: 10px;
    }
}